# Linking Zeemonsterrollen database to DAS voyage IDs and ship IDs

*Gerhard de Kok*

In [74]:
# Import necessary modules
import pandas as pd
import numpy as np

In [75]:
# First, load the entire Zeemonsterrollen database and the DAS database (Excel format)
bgb = pd.ExcelFile('zeemonsterrollen.xlsx')
das = pd.ExcelFile('das.xlsx')

In [62]:
# Parse the Excel sheets we will be using
zeemons = bgb.parse('Database GZM (MvR 2014)')
zeemons = zeemons.set_index('ID')
das_ships = das.parse('shipNameVariant')
das_ships = das_ships.set_index('shipNameVariantID')
das_voyages = das.parse('das_voyage')
das_voyages = das_voyages.set_index('voyId')

# Add columns to the Zeemonsterrollen dataframe
zeemons['DAS ID HEENREIS'] = np.nan
zeemons['DAS ID TERUGREIS'] = np.nan
zeemons['DAS SHIP ID'] = np.nan

In [68]:
# Loop over entries in Zeemonsterrollen  
# If there is an entry to DAS present: add voyage IDs and Ship IDs
for entry in zeemons.index:
    dasheen = zeemons.loc[entry, 'DAS HEENREIS']
    dasterug = zeemons.loc[entry, 'DAS TERUGREIS']
    
    das_id_heen = np.nan
    das_id_terug = np.nan
    das_ship_id = np.nan
    das_shipname_id = np.nan
    
    if not pd.isnull(dasheen):
        
        # Band-aid try/except for data error
        try:
            das_id_heen = das_voyages.loc[das_voyages['voyNumberDAS'] == dasheen].index[0]
            das_ship_id = das_voyages.loc[das_id_heen, 'shipID']
            das_shipname_id = das_voyages.loc[das_id_heen, 'shipName']
        except:
            das_id_heen = np.nan
        
    if not pd.isnull(dasterug):
        # Band-aid try/except for data error
        try:
            das_id_terug = das_voyages.loc[das_voyages['voyNumberDAS'] == dasterug].index[0]
            das_ship_id = das_voyages.loc[das_id_heen, 'shipID']
            das_shipname_id = das_voyages.loc[das_id_heen, 'shipName']
        except:
            das_id_heen = np.nan
        
    zeemons.loc[voyage, 'DAS ID HEENREIS'] = das_id_heen
    zeemons.loc[voyage, 'DAS ID TERUGREIS'] = das_id_terug
    zeemons.loc[voyage, 'DAS SHIP ID'] = das_ship_id

In [70]:
# Convert floats to ints
zeemons['DAS ID HEENREIS'] = zeemons['DAS ID HEENREIS'].astype('Int64')
zeemons['DAS ID TERUGREIS'] = zeemons['DAS ID TERUGREIS'].astype('Int64')

In [71]:
# Show the final result (copied to zeemonsterrollen db)
zeemons

,JAAR,INVENTARISNUMMER (Nationaal Archief 1.04.02),TYPE ADMINISTRATIE,FOLIONUMMER,NAAM SCHIP (ORIGINEEL),NAAM SCHIP (GESTANDAARDISEERD),SCHEEPSTYPE (ORIGINEEL),SCHEEPSTYPE (GESTANDAARDISEERD),LOKATIE (JUNI),TOTAAL OPVARENDEN,...,SCHIPPER VOORNAAM,SCHIPPER TUSSENVOEGSEL,SCHIPPER ACHTERNAAM,SCHIPPER HERKOMST,SCHIPPER AANKOMST SCHIP EN JAAR,DAS HEENREIS,DAS TERUGREIS,DAS ID HEENREIS,DAS ID TERUGREIS,DAS SHIP ID
ID,,,,,,,,,,,,,,,,,,,,,
6,1691,11707,Zeemonsterrol,1,Landswelvaren,LANDS WELVAREN,Schip,schip,"Batavia, Ter Rhede",126,...,NaN,NaN,NaN,NaN,NaN,1598.2,5903.2,92658,96812,DAS_ship0853
7,1691,11707,Zeemonsterrol,6,De Ridderschap van Holland,RIDDERSCHAP VAN HOLLAND,Schip,schip,"Batavia, Ter Rhede",128,...,NaN,NaN,NaN,NaN,NaN,1587.4,5895.4,92647,96804,DAS_ship1245
8,1691,11707,Zeemonsterrol,11,De Goede Hoop,GOEDE HOOP,Schip,schip,"Batavia, Ter Rhede",79,...,NaN,NaN,NaN,NaN,NaN,1591.1,5900.1,92651,96809,DAS_ship0469
9,1691,11707,Zeemonsterrol,14,Schoondijk,SCHOONDIJK,Schip,schip,"Batavia, Ter Rhede",74,...,NaN,NaN,NaN,NaN,NaN,1585.1,5896.1,92645,96805,DAS_ship1331
10,1691,11707,Zeemonsterrol,16,Waterland,WATERLAND,Schip,schip,"Batavia, Ter Rhede",67,...,NaN,NaN,NaN,NaN,NaN,1601.3,5899.3,92661,96808,DAS_ship1662
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5322,1791,11705,Zeemonsterrol,30,Catharina Johanna,VROUWE KATHARINA JOHANNA,Schip,schip,Onrust,12,...,NaN,NaN,NaN,NaN,NaN,4611.2,8341.2,95649,99124,DAS_ship1599
5323,1791,11705,Zeemonsterrol,30,Oud Haerlem,OUD HAARLEM,Schip,schip,Onrust,6,...,NaN,NaN,NaN,NaN,NaN,4571.7,NaN,95609,<NA>,DAS_ship1126
5324,1791,11705,Zeemonsterrol,30,De Jonge Oranjeboom,ORANJEBOOM,Schip,schip,"Batavia, ter rede",32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN
5325,1791,11705,Zeemonsterrol,31,Cornelia Adriana,CORNELIA ADRIANA,Schip,schip,Onrust,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN
5326,1791,11705,Zeemonsterrol,32,Constantia,CONSTANTIA,Bark,bark,"Batavia, ter rede",14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN